$header_bg: #fff;
$header_height: 50px;
%flexCenter {
	display: flex;
	align-items: center;
}
%formInput {
	padding: 9px 10px;
	font-size: .95em;
	width: 100%;
	border-radius: .25em;
	background: #fff;
	background-clip: padding-box;
	border: 1px solid #b8b8b8;
}
%buttonLink {
	font-size: .95em;
	cursor: pointer;
	margin-left: 5px;
	padding: 10px 5px;
	white-space: nowrap;
	background: transparent;
	border: 1px solid transparent;
}
header {
	padding: 0 20px;
	background: $header_bg;
	height: $header_height;
	border-bottom: 1px solid #dedddd;
	.navbar {
		@extend %flexCenter;
		height: $header_height;
		.navbar__brand {
			@extend %flexCenter;
			width: 60px;
			height: 37px;
			color: #fff;
			margin-right: 10px;
			background: #010101;
			border-radius: .25rem;
			justify-content: center;
			b {
				// color: #f10c0a;
				animation: gradiend 3s infinite;
			}
		}
		.navbar__search {
			@extend %flexCenter;
			width: 300px;
			color: #262626;
			height: $header_height;
			&--box {
				width: 100%;
				.form-input	{
					@extend %formInput;
				}
			}
		}
		.navbar__menu {
			@extend %flexCenter;
			color: #262626;
			width: calc(100% - 350px);
			justify-content: flex-end;
			height: $header_height;
			&--item {
				@extend %buttonLink;
				&:hover {
					background: #eee;
					border-radius: .25rem;
				}
				&.current-router {
					color: #416bca;
				}
			}
		}
		.navbar__toggle {
			display: none;
			height: 40px;
			.navbar__toggle--btn {
				display: flex;
				width: 40px;
				height: 40px;
				align-items: center;
				flex-direction: column;
				@extend %buttonLink;
				i {
					font-size: 1.3em;
				}
			}
		}
	}
}
@keyframes gradiend {
	0% {
		color: red;
	}
	20% {
		color: orange;
	}
	40% {
		color: yellow;
	}
	60% {
		color: orange;
	}
	80% {
		color: red;
	}
	100% {
		color: yellow;
	}
}