* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #262626;
  font-size: 1em;
  background: #eef0f1;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
}

header .navbar .navbar__menu, header .navbar .navbar__search, header .navbar .navbar__brand, header .navbar {
  display: flex;
  align-items: center;
}

header .navbar .navbar__search--box .form-input {
  padding: 9px 10px;
  font-size: 0.95em;
  width: 100%;
  border-radius: 0.25em;
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #d8d6d6;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
header .navbar .navbar__search--box .form-input:focus {
  border-color: #8941ca;
  box-shadow: 0 0 0 0.2rem rgba(137, 65, 202, 0.17);
}

header .navbar .navbar__menu--item {
  font-size: 1em;
  cursor: pointer;
  margin-left: 5px;
  text-align: center;
  padding: 10px 5px;
  white-space: nowrap;
  background: transparent;
  border: 1px solid transparent;
}
header .navbar .navbar__menu--item:hover {
  color: #8941ca;
  background: #8941ca18;
  border-radius: 0.25rem;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  padding: 0 30px;
  background: #fff;
  height: 60px;
  justify-content: center;
  border-bottom: 1px solid #e6e8e8;
}
header .navbar {
  height: 59px;
  width: 1350px;
  max-width: 1350px;
}
header .navbar .navbar__brand {
  cursor: pointer;
  width: 60px;
  height: 37px;
  color: #fff;
  margin-right: 10px;
  background: #010101;
  border-radius: 0.25rem;
  justify-content: center;
}
header .navbar .navbar__brand b {
  animation: gradiend 3s infinite;
}
header .navbar .navbar__search {
  width: 300px;
  color: #262626;
  height: 60px;
}
header .navbar .navbar__search--box {
  width: 100%;
}
header .navbar .navbar__menu {
  position: relative;
  color: #262626;
  width: calc(100% - 350px);
  justify-content: flex-end;
  height: 60px;
}
header .navbar .navbar__menu--item {
  position: relative;
  display: flex;
  width: 35px;
  height: 35px;
  font-size: 1.1rem;
  align-items: center;
  justify-content: center;
  /** CURRENT ROUTER */
  /*&.current-router {
  	color: #8941ca;
  	&:before {
  		position: absolute;
  		content: '';
  		bottom: 0;
  		left: 50%;
  		width: 60%;
  		height: 2px;
  		background: #8941ca;
  		transition: .3s cubic-bezier(0.85, -0.01, 0.49, 0.93);
  		transform: translateX(-50%);
  	}
  	&:hover:before {
  		left: 0%;
  		width: 100%;
  		transform: translateX(0%);
  		border-bottom-left-radius: .25rem;
  		border-bottom-right-radius: .25rem;
  	}
  }*/
}
header .navbar .navbar__menu--item:hover {
  color: #8941ca;
  border-radius: 50px;
  background: #8941ca20;
}
header .navbar .navbar__menu--item.current-router {
  width: 35px;
  height: 35px;
  color: #8941ca;
  border-radius: 50px;
  background: #8941ca20;
}
header .navbar .navbar__toggle {
  position: relative;
  display: block;
  height: 35px;
  margin-left: 10px;
}
header .navbar .navbar__toggle .navbar__toggle--btn {
  cursor: pointer;
  width: 20px;
  padding: 0;
  height: 35px;
  border: none;
  overflow: hidden;
  background: transparent;
}
header .navbar .navbar__toggle .navbar__toggle--btn.navbar__toggle--btn--active .btn-hamburger {
  transform: translateX(-50px);
}
header .navbar .navbar__toggle .navbar__toggle--btn.navbar__toggle--btn--active .btn-hamburger:before {
  transform: rotate(45deg) translate(33px, -33px);
}
header .navbar .navbar__toggle .navbar__toggle--btn.navbar__toggle--btn--active .btn-hamburger:after {
  transform: rotate(-45deg) translate(33px, 33px);
}
header .navbar .navbar__toggle .navbar__toggle--btn .btn-hamburger {
  position: relative;
  width: 100%;
  height: 1px;
  background: #888;
  transition: all 0.3s ease-in-out;
}
header .navbar .navbar__toggle .navbar__toggle--btn .btn-hamburger:after, header .navbar .navbar__toggle .navbar__toggle--btn .btn-hamburger:before {
  position: absolute;
  left: 0;
  content: "";
  width: 20px;
  height: 1px;
  background: #888;
}
header .navbar .navbar__toggle .navbar__toggle--btn .btn-hamburger:before {
  transition: all 0.3s ease-in-out;
  transform: translateY(-7px);
}
header .navbar .navbar__toggle .navbar__toggle--btn .btn-hamburger:after {
  transition: all 0.3s ease-in-out;
  transform: translateY(7px);
}
header .navbar .navbar__toggle .navbar__toggle--menu {
  position: absolute;
  right: 0;
  top: 98px;
  width: 300px;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  border-radius: 0.25rem;
  transition: all 0.3s;
  box-shadow: 2px 2px 0.5rem rgba(0, 0, 0, 0.15);
  /*.menu-body {
  	margin-top: 10px;
  	router {
  		padding: 5px;
  		display: flex;
  		cursor: pointer;
  		align-items: center;
  		&:hover {
  			border-radius: .25rem;
  			background: #d6d6d666;
  		}
  		i {
  			padding: 10px;
  			border-radius: 50px;
  			background: #e5e5e5;
  			border: 1px solid #e5e5e5;
  		}
  		.menu-body-right {
  			margin-left: 5px;
  		}
  	}
  }*/
}
header .navbar .navbar__toggle .navbar__toggle--menu--show {
  top: 48px;
  opacity: 1;
  visibility: visible;
}
header .navbar .navbar__toggle .navbar__toggle--menu router {
  cursor: pointer;
  display: flex;
  padding: 5px;
  align-items: center;
}
header .navbar .navbar__toggle .navbar__toggle--menu router:hover {
  border-radius: 0.25rem;
  background: #d6d6d666;
}
header .navbar .navbar__toggle .navbar__toggle--menu router.current-router {
  color: #8941ca;
  background: #8941ca18;
  border-radius: 0.25rem;
}
header .navbar .navbar__toggle .navbar__toggle--menu router.current-router i {
  background: #8941ca1c;
}
header .navbar .navbar__toggle .navbar__toggle--menu router img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
}
header .navbar .navbar__toggle .navbar__toggle--menu router i {
  padding: 10px;
  border-radius: 50px;
  background: #e5e5e5;
  border: 1px solid #e5e5e5;
}
header .navbar .navbar__toggle .navbar__toggle--menu router .menu-avatar-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10px;
}
header .navbar .navbar__toggle .navbar__toggle--menu router .menu-avatar-right .user-name,
header .navbar .navbar__toggle .navbar__toggle--menu router .menu-avatar-right .user-view {
  position: absolute;
  display: block;
}
header .navbar .navbar__toggle .navbar__toggle--menu router .menu-avatar-right .user-name {
  top: 25px;
  color: #555;
  font-weight: 500;
}
header .navbar .navbar__toggle .navbar__toggle--menu router .menu-avatar-right .user-view {
  top: 45px;
  color: #888;
  font-size: 0.9rem;
  font-weight: 300;
}
header .navbar .navbar__toggle .navbar__toggle--menu router .menu-body-right {
  margin-left: 10px;
}

@keyframes gradiend {
  0% {
    color: red;
  }
  20% {
    color: orange;
  }
  40% {
    color: yellow;
  }
  60% {
    color: orange;
  }
  80% {
    color: red;
  }
  100% {
    color: yellow;
  }
}
#app {
  position: absolute;
  padding: 0 10px;
  top: 60px;
}

/** Mobile Responsive */
@media (max-width: 739px) {
  header {
    padding: 0 10px;
  }
  header .navbar .navbar__brand {
    width: 55px;
  }
  header .navbar .navbar__search {
    width: calc(100% - 110px);
  }
  header .navbar .navbar__menu {
    width: 80px;
  }
  header .navbar .navbar__toggle {
    display: block;
  }
}
/** Tablet Responsive */
@media (max-width: 500px) {
  header .navbar .navbar__toggle .navbar__toggle--menu--show {
    top: 60px;
  }

  header .navbar .navbar__toggle .navbar__toggle--menu {
    position: fixed;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    border-radius: 0;
  }
}
/** Tablet Responsive */
/** PC Responsive */
@keyframes menuBar {
  0% {
    opacity: 1;
    background: #d8d8d8;
    transform: scale(0.3) translateX(-200px);
  }
  50% {
    opacity: 1;
    background: #f8f8f8;
    transform: scale(0.7) translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}