* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #262626;
  font-size: 1em;
  background: #fff;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
}

header .navbar .navbar__menu, header .navbar .navbar__search, header .navbar .navbar__brand, header .navbar {
  display: flex;
  align-items: center;
}

header .navbar .navbar__search--box .form-input {
  padding: 9px 10px;
  font-size: 0.95em;
  width: 100%;
  border-radius: 0.25em;
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #b8b8b8;
}

header .navbar .navbar__toggle .navbar__toggle--btn, header .navbar .navbar__menu--item {
  font-size: 1em;
  cursor: pointer;
  margin-left: 5px;
  padding: 10px 5px;
  white-space: nowrap;
  background: transparent;
  border: 1px solid transparent;
}

header {
  padding: 0 20px;
  background: #fff;
  height: 60px;
  border-bottom: 1px solid #dedddd;
}
header .navbar {
  height: 59px;
}
header .navbar .navbar__brand {
  width: 60px;
  height: 37px;
  color: #fff;
  margin-right: 10px;
  background: #010101;
  border-radius: 0.25rem;
  justify-content: center;
}
header .navbar .navbar__brand b {
  animation: gradiend 3s infinite;
}
header .navbar .navbar__search {
  width: 300px;
  color: #262626;
  height: 60px;
}
header .navbar .navbar__search--box {
  width: 100%;
}
header .navbar .navbar__menu {
  color: #262626;
  width: calc(100% - 350px);
  justify-content: flex-end;
  height: 60px;
}
header .navbar .navbar__menu--item:hover {
  color: #8941ca;
  background: #8941ca21;
  border-radius: 0.25rem;
}
header .navbar .navbar__menu--item.current-router {
  color: #8941ca;
}
header .navbar .navbar__toggle {
  display: none;
  height: 40px;
}
header .navbar .navbar__toggle .navbar__toggle--btn {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  flex-direction: column;
}
header .navbar .navbar__toggle .navbar__toggle--btn i {
  font-size: 1.3em;
}

@keyframes gradiend {
  0% {
    color: red;
  }
  20% {
    color: orange;
  }
  40% {
    color: yellow;
  }
  60% {
    color: orange;
  }
  80% {
    color: red;
  }
  100% {
    color: yellow;
  }
}
#app {
  padding: 0 10px;
}

/** Mobile Responsive */
@media (max-width: 739px) {
  body {
    background: #fff;
  }

  header {
    position: relative;
    padding: 0 10px;
  }
  header .navbar .navbar__brand {
    width: 55px;
  }
  header .navbar .navbar__search {
    width: calc(100% - 100px);
  }
  header .navbar .navbar__menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: auto;
    background: #fff;
    flex-direction: column;
  }
  header .navbar .navbar__menu--show {
    display: flex;
  }
  header .navbar .navbar__menu--item {
    width: 100%;
    padding: 15px 5px;
    margin-left: 0;
    display: block;
  }
  header .navbar .navbar__toggle {
    display: block;
  }
}
/** Tablet Responsive */
/** PC Responsive */